*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

li {
    font-size: inherit;
    font-weight: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

button,
label,
input[type="checkbox"] {
    cursor: pointer;
}

body {
    background-color: #E5E5E5;
    color: #171717;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    min-width: 356px;
}

section {
    position: relative;
    padding-bottom: 150px;
    /* z-index: 2; */
    overflow-x: hidden;
}

.section_title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

section>div,
section h2,
p,
h1,
form {
    position: relative;
    z-index: 1;
}

.header {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 13.194vw;
    position: relative;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.header__logo {
    height: 56px;
}

.header__logo img {
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 39px;
    min-width: 219px;
}

.purple_btn {
    color: #ffffff;
    background-color: #303293;
}

.white_outlined_btn {
    border: 2px solid #303293;
}

.header__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.footer__container.glass_bg {
    position: relative;
    z-index: 1;
    border-radius: 100%;
    height: 1350px;
    width: 1350px;
    margin-bottom: -402px;
    padding-top: 64px;
}

.footer__socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__socials .atank_logo {
    height: 56px;
    margin-bottom: 65px;
}

.footer__socials .socials_icon {
    height: 64px;
}

.footer__socials_list {
    display: flex;
    gap: 48px;
}

.footer__nav ul {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 164px;
    margin-bottom: 172px;
}

.footer__contact {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 111.5px;
    margin-bottom: 110px;
}

.footer__contact a {
    display: flex;
    align-items: center;
}

.mail_icon,
.call_icon {
    height: 24px;
    width: 24px;
    display: inline-block;
}

.mail_icon {
    background-image: url(./assets/icons/mail.svg);
}

.call_icon {
    background-image: url(./assets/icons/phone.svg);
}

.footer__privacy {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 45px;
}

.services__item {
    height: 352px;
    width: 352px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    border-radius: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(12px);
}

.services__item p {
    font-size: 24px;
    font-weight: 700;
    width: 200px;
    text-align: center;
}

.why_us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_us .section_title {
    margin-top: 55px;
    margin-bottom: 113px;
}

.why_us__item_title.elipse_in_the_corner__title {
    margin-top: 10px;
}

.why_us__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    gap: 75px;
}

.decorations {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.decorations__item {
    position: absolute;
    z-index: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .section_title {
    margin-bottom: 74px;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 615px;
    gap: 24px;
    align-items: center;
}

.form_name_and_phone {
    display: flex;
    gap: 24px;
    width: 100%;
}

.form input[type="text"],
.form textarea {
    width: 100%;
}

.form input[type="file"] {
    max-width: 177px;
}

.form .privacy_policy {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 426px;
}

.attach_file__default_icon {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.attach_file__custom_icon {
    display: inline-block;
    position: relative;
    width: 11px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/icons/attach.svg);
}

.attach_file {
    font-size: 16px;
    font-weight: 600;
    color: #747474;
    display: flex;
    align-items: center;
    gap: 12px;
}

.form .privacy_policy a {
    white-space: nowrap;
    font-style: italic;
}

input[type="text"],
textarea {
    font-size: 18px;
    font-weight: 500;
    color: #747474;
    border: 4px solid #FFFFFF;
    border-radius: 50px;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(12px);
    padding: 18px 32px;
}

.form input.attach_file {
    font-size: 16px;
    font-weight: 600;
    color: #747474;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.glass_bg {
    font-size: 18px;
    font-weight: 500;
    border: 4px solid #FFFFFF;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(12px);
    padding: 18px 32px;
}

.circle_heading__container {
    display: flex;
    justify-content: center;
}

.circle_heading__circle {
    height: 818px;
    width: 818px;
}

.circle_heading__description {
    font-size: 18px;
    font-weight: 500;
    margin-top: 48px;
    max-width: 530px;
}

.circle_heading__container .button {
    margin-top: 64px;
}

.elipse_in_the_corner {
    width: 456px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-top: 34px;
    padding-left: 45px;
}

.elipse_in_the_corner__decoration {
    width: 148px;
    height: 148px;
    position: absolute;
    top: 0px;
    left: -35px;
}

.elipse_in_the_corner__decoration img {
    width: 100%;
}

.elipse_in_the_corner__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 55px;
}

.promotion {
    display: flex;
    justify-content: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
}

.circles_row {
    display: flex;
    position: relative;
}

.services__item.circles_row__circle_1 {
    position: relative;
    z-index: 0;
    left: 6%;
}

.services__item.circles_row__circle_2 {
    position: relative;
    z-index: 0;
    left: 23%;
}

.services__item.circles_row__circle_3 {
    position: relative;
    z-index: 0;
    right: 23%;
}

.services__item.circles_row__circle_4 {
    position: relative;
    z-index: 0;
    right: 6%;
}

.work_stages {
    padding-left: 13.194vw;
    padding-right: 13.194vw;
}

.work_stages__items {
    display: flex;
    height: 840px;
    justify-content: center;
    padding: 100px 0 125px;
}

.work_stages__item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.work_stages__item p {
    font-size: 24px;
    font-weight: 700;
    width: 365px;
}

.item_2 {
    justify-content: end;
}

.item_3 {
    align-items: flex-end;
}

.item_number {
    margin-bottom: 40px;
    height: 178px;
}

.tariff_basic__items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1140px;
}

.tariff_basic__item {
    font-size: 24px;
    font-weight: 700;
    height: 352px;
    width: 352px;
    position: absolute;
}

.tariff_basic__item_1 {
    top: 178px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tariff_basic__item_2 {
    top: 132px;
    right: 93px;
}

.tariff_basic__item_3 {
    bottom: 44px;
    right: 175px;
}

.tariff_basic__item_4 {
    bottom: 44px;
    left: 175px;
}

.tariff_basic__item_5 {
    top: 132px;
    left: 93px;
}

.tariff_basic__description {
    width: 617px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tariff_basic__description p {
    margin-top: 48px;
    margin-bottom: 72px;
}

.marketing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.marketing__items {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding-bottom: 730px;

}

.marketing__item {
    position: absolute;
    width: 352px;
    height: 352px;
    font-size: 24px;
    font-weight: 700;
}

.marketing__item.circles_row__circle_1 {
    position: relative;
    z-index: 0;
    right: auto;
    left: auto;
    left: 7%;
}

.marketing__item.circles_row__circle_2 {
    position: relative;
    z-index: 0;
    right: auto;
    left: auto;
    left: 4%;
}

.marketing__item.circles_row__circle_3 {
    position: relative;
    z-index: 0;
    right: auto;
    left: auto;
    right: -1%;
}

.marketing__item.circles_row__circle_4 {
    position: relative;
    z-index: 0;
    right: auto;
    left: auto;
    left: -2%;
}

.section__heading {
    text-align: center;
}

.marketing .section__heading p {
    margin-top: 24px;
    margin-bottom: 48px;
}

.marketing__items_description {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.marketing__item_description {
    width: 260px;
    margin-top: 29px;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    position: absolute;
    left: 96px;
    top: 380px;
}

.marketing__item_description ul {
    list-style: disc;
    padding: 0 30px 0 15px;

}

.marketing .button {
    margin: 88px auto 0;
}

.about_service {
    padding-right: 220px;
    padding-left: 220px;
}

.about_service__item ul {
    list-style: disc;
}

.about_service li {
    font-size: 18px;
    font-weight: 400;
}

.about_service__item {
    width: 100%;
}

.about_service__item_title {
    color: #303293;
    margin-top: 34px;
}

.about_service__item {
    padding-top: 10px;
}

.service .service__decor_elipse_1 {
    top: 5%;
    right: 24%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.service .service__decor_circle_purple_blurred_1 {
    z-index: 0;
    top: 1%;
    left: -4%;
    height: 300px;
    width: 300px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.service .service__decor_circle_purple_blurred_2 {
    z-index: 0;
    bottom: 28%;
    left: 18%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.service .service__decor_circle_1 {
    bottom: 7%;
    right: 22%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.service .service__decor_elipse_2 {
    top: 0%;
    right: 4%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.read_next {
    padding: 100px 220px;
    position: relative;
}

.subsection_title {
    font-size: 24px;
    font-weight: 700;
    color: #303293;
    margin-bottom: 48px;
}

.read_next__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    gap: 98px;
}

.read_next__item_title {
    margin-top: 10px;
}

.read_next__item {
    width: 444px;
    padding-left: 40px;
}

.read_next__item .button {
    margin-top: 36px;
}

.project__preview_img {
    height: 300px;
}

.about_project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px;
    gap: 64px;
}

.project_brown_theme {
    background-color: #84746D;
    color: #ffffff;
}

.about_project>div {
    width: 100%;
}

.about_project .circle,
.about_project_half .circle {
    height: 580px;
    width: 580px;
}

.project__name {
    font-size: 24px;
    font-weight: 700;
}

.project__text {
    max-width: 564px;
    font-size: 18px;
    font-weight: 500;
    margin: 64px 0;
}

.project__text_heading {
    margin-bottom: 24px;
}

.project__link {
    font-size: 16px;
    font-weight: 600;
}

.about_project_halves {
    display: flex;
    padding: 0;
}

.about_project_half {
    width: 50%;
    display: flex;
    gap: 64px;
    flex-direction: column-reverse;
    align-items: center;
    padding: 116px 70px;
}

.light_yellow_theme {
    background-color: #FBF6E5;
    color: #171717;
}

.project_purple_theme {
    color: #ffffff;
    background-color: #6667AB;
    flex-direction: row-reverse;
}

.last_in_the_list {
    margin-bottom: 150px;
}

.vacancies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vacancy_description__item.elipse_in_the_corner {
    width: 100%;
}

.vacancy_item .elipse_in_the_corner__title {
    color: #303293;
}

.vacancy_item .elipse_in_the_corner__title {
    margin-top: 12px;
    margin-bottom: 36px;
}

.vacancy_item.elipse_in_the_corner {
    width: auto;
    max-width: 765px;
}

.vacancy_item .button {
    margin-top: 36px;
}

.vacancy_description {
    padding: 0 13.194vw 150px;
    overflow: hidden;
}

.vacancy_description__item .elipse_in_the_corner__title {
    margin-top: 16px;
    color: #303293;
}

.vacancy_description .conclusion {
    padding: 48px 0;
}

.vacancy_description .button {
    margin: 0 auto;
}

.elipse_in_the_corner ul {
    list-style: disc;
}

.blog_container__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    align-items: center;
}

.blog_container__nav ul {
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-weight: 600;
}

.nav_active {
    color: #6667AB;
}

.decor {
    position: absolute;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    position: relative;
}

.footer__decor_elipse_1 {
    top: 5%;
    right: 9%;
    height: 400px;
    width: 400px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.footer_decor_circle_purple_blurred_1 {
    left: 12%;
    top: 52%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.footer_decor_circle_purple_blurred_2 {
    z-index: 2;
    right: -14%;
    bottom: -28%;
    height: 582px;
    width: 582px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.slide {
    width: 404px;
    height: 404px;
}

.circle_heading__circle.slide.current {
    z-index: 2;
    width: 625px;
    height: 625px;
    position: relative;
    left: 28%;
}

.circle_heading__circle.slide.left {
    position: relative;
    right: auto;
    left: -37%;
}

.circle_heading__circle.slide.right {
    position: relative;
    right: 3%;
}

.main_slider {
    padding: 93px 114px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__title {
    font-size: 18px;
    max-width: 404px;
}

.slider__description,
.slider__btn {
    margin-top: 36px;
}

.current .slider__title {
    font-size: 64px;
}

.slider__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider__indicator {
    display: flex;
    gap: 10px;
    margin-top: 36px;
}

.slider__indicator_item {
    width: 18px;
    height: 18px;
    background-color: #6667AB;
    opacity: 0.5;
    border-radius: 100%;
}

.slider__indicator_item.current {
    opacity: 1;
}

.main_slider .main_slider__decor_circle_purple_blurred_1 {
    top: -1%;
    right: -3%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.main_slider .main_slider__decor_circle_purple_blurred_2 {
    top: 7%;
    left: 34%;
    height: 170px;
    width: 170px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.main_slider .main_slider__decor_circle_purple_blurred_3 {
    bottom: 0%;
    left: -1%;
    height: 230px;
    width: 230px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.main_slider .main_slider__decor_circle_1 {
    bottom: 17%;
    right: 15%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.main_slider .main_slider__decor_elipse_2 {
    bottom: 56%;
    left: 5%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.main_slider .main_slider__decor_elipse_1 {
    top: 56%;
    right: -1%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.services .main_services__decor_circle_1 {
    bottom: 25%;
    left: 22%;
    height: 170px;
    width: 170px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.services .main_services__decor_elipse_1 {
    top: 12%;
    right: 20%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.vacancy.circle_heading__container .vacancy__decor_elipse_1 {
    top: 5%;
    right: 20%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.vacancy.circle_heading__container .vacancy__decor_elipse_2 {
    bottom: 14%;
    left: 20%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.vacancy.circle_heading__container .vacancy__decor_circle_purple_blurred_1 {
    bottom: 10%;
    right: 16%;
    height: 300px;
    width: 300px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.vacancy.circle_heading__container .vacancy__decor_circle {
    top: 10%;
    left: 10%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.vacancy_description .vacancy__decor_circle_purple_blurred_2 {
    top: 22%;
    left: -3%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.vacancy_description .vacancy__decor_circle_purple_1 {
    bottom: 22%;
    right: -5%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.career .career__decor_elipse_1 {
    top: 12%;
    right: 23%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.career .career__decor_circle_purple_blurred_1 {
    z-index: 0;
    top: 13%;
    left: 12%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.career .career__decor_circle_1 {
    top: 62%;
    right: 21%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.career .career__decor_elipse_2 {
    bottom: 15%;
    left: 15%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.services .services__decor_elipse_1 {
    top: 0%;
    right: 2%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.services .services__decor_circle_purple_blurred_1 {
    z-index: 0;
    top: 5%;
    left: -4%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.services .services__decor_circle_1 {
    top: 26%;
    right: 11%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.services .services__decor_elipse_2 {
    bottom: 23%;
    left: 24%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}




.blogpost .blogpost__decor_circle_purple_blurred_1 {
    top: 0%;
    left: 5%;
    height: 400px;
    width: 400px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.blogpost .blogpost__decor_circle_1 {
    bottom: 8%;
    left: auto;
    right: 11%;
    height: 250px;
    width: 250px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.blogpost .blogpost__decor_elipse_1 {
    bottom: 9%;
    left: 1%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);

}

.blogpost .blogpost__decor_elipse_2 {
    top: 8%;
    right: 14%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.blog_container {
    padding: 0 116px;
    position: relative;
}

.blog_posts {
    padding-bottom: 0;
}

.blog_posts__item {
    padding-top: 0;
    margin-bottom: 64px;
}

.blog_posts__item_title {
    margin-top: 14px;
    margin-bottom: 36px;
}

.blog_posts__item_cover {
    margin-bottom: 18px;
    width: 100%;
}

.blog_posts__item_cover img {
    width: 100%;
}

.blog_posts__item_text {
    margin-bottom: 36px;
}

.btn_arrow {
    margin-left: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 52px;
}

.pages {
    display: flex;
    gap: 28px;
}

.goBack {
    transform: rotate(180deg);
}

.inactive {
    opacity: 0.5;
}

.search_bar {
    display: flex;
}

.search_bar input {
    border: 1px solid #303293;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.loupe {
    background-color: transparent;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.subscribe {
    position: absolute;
    top: 127.5px;
    right: 116px;
}

.subscribe_circle {
    height: 495px;
    width: 495px;
}

.subscribe .subscribe_circle__title {
    font-size: 24px;
    font-weight: 700;
}

.subscribe .subscribe_circle__description {
    margin-top: 24px;
    margin-bottom: 48px;
}

.subscribe .button {
    margin-top: 24px;
}

.subscribe .subscribe_circle__input {
    width: 100%;
}

.subscribe__privacy_policy {
    position: absolute;
    bottom: -78px;
    font-size: 16px;
    font-weight: 400;
}

.page_nav {
    padding: 36px 13.194vw;
    color: #303293;
    font-size: 18px;
    font-weight: 400;
}

.page_nav ul {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav__chevron {
    transform: rotate(-90deg);
}

.blogpost_heading {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.blogpost__cover {
    overflow: hidden;
    height: 818px;
    width: 818px;
    border-radius: 100%;
    border: 4px solid #ffffff;
}

.blogpost__cover img {
    width: 100%;
    height: auto;
}

.blogpost_container {
    padding: 0 220px;
}

.blogpost_container__heading {
    margin-bottom: 36px;
    font-size: 24px;
    font-weight: 700;
}

.blogpost_text {
    margin-bottom: 36px;
}

.blog.circle_heading__container .blog__decor_elipse_1 {
    top: 0%;
    right: 15%;
    height: 100px;
    width: 100px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.blog.circle_heading__container .blog__decor_circle_purple_blurred_1 {
    z-index: 1;
    top: 10%;
    left: 8%;
    height: 300px;
    width: 300px;
    background-image: url(./assets/icons/circle-purple-blurred.svg);
}

.blog.circle_heading__container .blog__decor_circle_1 {
    top: 38%;
    right: 3%;
    height: 200px;
    width: 200px;
    background-image: url(./assets/icons/circle-purple.svg);
}

.blog.circle_heading__container .blog__decor_elipse_2 {
    bottom: 24%;
    left: 21%;
    height: 150px;
    width: 150px;
    background-image: url(./assets/icons/ellipse-purple.svg);
}

.other_blogposts.read_next {
    padding-bottom: 150px;
}

.other_blogposts .read_next__item {
    padding-top: 5px;
}

.other_blogposts .read_next__item_title {
    margin-top: 0;
}

.other_blogposts .read_next_title {
    margin-bottom: 48px;
}

.read_next .load_more {
    position: absolute;
    height: 44px;
    top: 50%;
    transform: translate(0, -50%);
    right: 8%;
}

.read_next .load_more img {
    height: 100%;

}

.burger_menu {
    background-color: transparent;
    height: 44px;
    width: 44px;
    background-image: url(./assets/icons/burger-menu.svg);
}

.mobile_menu {
    height: 100vh;
    width: 100vw;
    min-height: 812px;
    position: absolute;
    background-color: #6667AB;
    color: #ffffff;
    z-index: 3;
    top: 0;
    font-size: 16px;
    font-weight: 600;
    flex-direction: column;
    clip-path: circle(860px at 50% -10%);
    min-width: 356px;
}

.mobile_menu__close_btn {
    background-color: transparent;
}

.mobile_menu__header {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
}

.mobile_menu__close_btn {
    height: 44px;
}

.mobile_menu__navigation {
    margin: 49px 0;
    border-top: 2px solid hsla(0, 0%, 100%, 0.1);
}

.mobile_menu__navigation li {
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.1);
    padding: 24px;
    text-align: center;
}

.mobile_menu__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 24px; */
    gap: 40px;
}

.contact__lang {
    height: 100%;
    width: 65px;
}

.lang_value {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}

.lang_options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.lang_chevron {
    width: 16px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/icons/chevron.svg);
}

.mobile_menu .contact__lang {
    height: auto;
    width: auto;
    position: relative;
}

.mobile_menu .lang_chevron {
    background-image: url(./assets/icons/chevron-white.svg);
}

.mobile_menu .lang_value {
    position: relative;
}

.chevron {
    position: absolute;
    top: 0;
    right: 0;
}

details[open] .lang_chevron {
    transform: rotate(180deg);
}

details,
summary {
    outline: none;
    position: relative;
    cursor: pointer;
}

details summary::-webkit-details-marker,
summary::marker {
    display: none;
}

details>summary {
    list-style: none;
    display: flex;
    align-items: center;
}

.mobile {
    display: none;
}

.hide,
.hide.mobile {
    display: none;
}

@media (max-width:1273px) {
    .marketing {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .marketing__items {
        width: 1110px;
        padding-bottom: 360px;
    }

    .marketing__item.circles_row__circle_1 {
        z-index: 0;
        left: -2%;
    }

    .marketing__item {
        position: absolute;
    }

    .marketing__item.circles_row__circle_2 {
        position: absolute;
        z-index: 0;
        left: 20%;
    }

    .marketing__item.circles_row__circle_3 {
        position: relative;
        z-index: 0;
        right: -9%;
    }

    .marketing__item.circles_row__circle_4 {
        position: relative;
        z-index: 0;
        left: auto;
        right: -2%;
    }
}

@media (max-width:1232px) {
    .header {
        margin: 24px 16px;
    }

    .footer__nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 88px;
        margin-bottom: 128px;
    }

    .footer__container.glass_bg {
        margin-bottom: -10%;
        height: 1412px;
        width: 1412px;
    }

    .footer__contact {
        flex-direction: column;
        align-items: center;
        margin-bottom: 134px;
    }

    .footer__contact {
        gap: 50px;
    }

    .footer__privacy {
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .footer__privacy p {
        max-width: 343px;
    }

    .footer__decor_elipse_1 {
        top: 18%;
        right: -29%;
        height: 250px;
        width: 250px;
    }

    .footer_decor_circle_purple_blurred_1 {
        left: -10%;
        top: 47%;
        bottom: 17%;
    }

    section {
        padding-bottom: 100px;
    }

    .section_title {
        font-size: 36px;
        font-weight: 700;
    }

    input[type="text"],
    textarea {
        font-size: 14px;
        font-weight: 500;
    }

    .circle_heading__container {
        overflow: hidden;
    }

    .about_service {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .service .service__decor_elipse_1 {
        top: auto;
        bottom: 15%;
        left: -8%;
        height: 120px;
        width: 120px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .service .service__decor_circle_purple_blurred_1 {
        z-index: 0;
        top: auto;
        bottom: 0%;
        left: auto;
        right: -9%;
        height: 200px;
        width: 200px;
        background-image: url(./assets/icons/circle-purple-blurred.svg);
    }

    .service .service__decor_circle_1 {
        top: 0%;
        left: -5%;
        height: 70px;
        width: 70px;
        background-image: url(./assets/icons/circle-purple.svg);
    }

    .service .service__decor_elipse_2 {
        top: 0%;
        right: -5%;
        height: 70px;
        width: 70px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .vacancy_description {
        padding-bottom: 100px;
    }

    .vacancy_description .conclusion {
        padding-top: 0;
    }

    .blog_container__header {
        width: 100%;
        overflow: scroll;
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog_container {
        padding: 0;
    }

    .subscribe {
        position: relative;
    }

    .blog_posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog_posts__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 21.5px;
        width: 100%;
    }

    .blog_posts__item_text {
        text-align: center;
    }

    .pagination {
        gap: 5.333vw;
        gap: 16px;
        padding-bottom: 100px;
        justify-content: center;
    }

    .pages {
        gap: 16px;
    }

    .circle_heading__container {
        top: 0;
        right: auto;
        margin-top: 21px;
    }


    .blog_posts__item .elipse_in_the_corner__decoration {
        transform: translate(-50%, 0);
        left: 50%;
    }

    .blog_posts__item_title {
        text-align: center;
    }

    .other_blogposts .read_next__item {
        width: 100%;
        padding: 0;
        padding-top: 44px;
    }

    .read_next__item .button {
        margin-right: auto;
        margin-left: auto;
    }

    .about_service,
    .read_next,
    .blogpost_container,
    .vacancy_description {
        padding-right: 16px;
        padding-left: 16px;
    }

    .about_service__item_title {
        margin-top: 0;
    }

    .read_next {
        padding-top: 0;
    }

    .blogpost_heading {
        padding-top: 21px;
    }

    .blogpost_container__heading {
        text-align: center;
    }

    .blogpost_text {
        font-size: 14px;
    }

    .other_blogposts .read_next_title,
    .subsection_title,
    .other_blogposts .read_next__item_title,
    .other_blogposts .read_next__item_text,
    .other_blogposts .read_next__date {
        text-align: center;
    }

    .other_blogposts .read_next__date {
        margin-bottom: 8px;
    }

    .other_blogposts .read_next__item_title {
        margin-bottom: 36px;
    }

    .other_blogposts .read_next__item_text {
        font-size: 14px;
    }

    .read_next__content {
        flex-direction: column;
        gap: 48px;
        text-align: center;
    }

    .other_blogposts .elipse_in_the_corner__decoration,
    .read_next__item .elipse_in_the_corner__decoration {
        transform: translate(-50%, 0);
        left: 50%;
    }

    .about_project {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about_project>div {
        width: auto;
    }

    .project__preview {
        display: flex;
        justify-content: center;
    }

    .project__name {
        text-align: start;
        width: 100%;
    }

    .about_project_halves {
        flex-direction: column;
    }

    .about_project_half {
        width: 100%;
    }

    .other_blogposts.read_next {
        padding-bottom: 100px;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: flex;
    }
}

@media (max-width:1126px) {
    .services__item {
        height: 315px;
        width: 315px;
    }

    .services__item p {
        max-width: 150px;
    }
}

@media (max-width:976px) {
    body {
        font-size: 14px;
    }

    .header__logo {
        height: 39px;
    }

    .blog.circle_heading__container .blog__decor_elipse_1,
    .career .career__decor_elipse_1,
    .services .services__decor_elipse_1,
    .portfolio .portfolio__decor_elipse_1 {
        top: 0%;
        right: 1%;
        height: 70px;
        width: 70px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .blog.circle_heading__container .blog__decor_circle_purple_blurred_1,
    .career .career__decor_circle_purple_blurred_1,
    .services .services__decor_circle_purple_blurred_1,
    .main_slider .main_slider__decor_circle_purple_blurred_1,
    .portfolio .portfolio__decor_circle_purple_blurred_1 {
        top: -1%;
        left: -27%;
        height: 200px;
        width: 200px;
        background-image: url(./assets/icons/circle-purple-blurred.svg);
    }

    .blog.circle_heading__container .blog__decor_circle_1,
    .career .career__decor_circle_1,
    .services .services__decor_circle_1,
    .main_slider .main_slider__decor_circle_1,
    .portfolio .portfolio__decor_circle_1 {
        top: 62%;
        right: -18%;
        height: 200px;
        width: 200px;
        background-image: url(./assets/icons/circle-purple.svg);
    }

    .blog.circle_heading__container .blog__decor_elipse_2,
    .career .career__decor_elipse_2,
    .services .services__decor_elipse_2,
    .portfolio .portfolio__decor_elipse_2 {
        bottom: 20%;
        left: 0%;
        height: 100px;
        width: 100px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .main_slider .main_slider__decor_elipse_2 {
        bottom: 0%;
        left: -21%;
        height: 150px;
        width: 150px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .main_slider .main_slider__decor_elipse_1 {
        top: 4%;
        right: 3%;
        height: 100px;
        width: 100px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .main_slider {
        padding-top: 12px;
    }

    .circles_row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services__items .services__item {
        left: auto;
        right: 0;
    }

    .services__items .services__item.circles_row__circle_2 {
        position: absolute;
        top: 74%;
    }

    .services__items .services__item.circles_row__circle_3 {
        position: absolute;
        top: 150%;
    }

    .services__items .services__item.circles_row__circle_4 {
        z-index: 2;
        position: absolute;
        top: 224%;
    }

    .services__btn {
        position: absolute;
        bottom: 100px;
    }

    .services {
        height: 1400px;
    }

    .services .main_services__decor_elipse_1 {
        top: 23%;
        right: -18%;
        height: 230px;
        width: 230px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .services .main_services__decor_circle_1 {
        bottom: 28%;
        left: -12%;
        height: 170px;
        width: 170px;
    }

    .services .main_services__decor_elipse_blurred_1 {
        z-index: 1;
        bottom: 8%;
        right: -31%;
        height: 250px;
        width: 250px;
        background-image: url(./assets/icons/ellipse-purple-blurred.svg);
    }

    .why_us .section_title {
        margin-top: 0;
        margin-bottom: 48px;
    }

    .why_us__items {
        width: 100%;
        padding: 0 16px;
        gap: 48px;
    }

    .circle_heading__circle.slide {
        display: none;
    }

    .circle_heading__circle.slide.current {
        display: flex;
        position: relative;
        left: 0;
        width: 420px;
        height: 420px;
    }

    .slider__indicator {
        margin-top: 24px;
    }

    .slider__indicator_item {
        width: 10px;
        height: 10px;
    }

    .form .section_title {
        margin-bottom: 48px;
    }

    .form {
        padding-left: 16px;
        padding-right: 16px;
    }

    .form form {
        width: 100%;
    }

    .form_name_and_phone {
        flex-direction: column;
    }

    .form .privacy_policy {
        width: 100%;
    }

    .why_us__item .decoration {
        width: 162px;
        height: 162px;
    }

    .why_us__item_title.elipse_in_the_corner__title {
        margin-top: 46px;
        margin-bottom: 16px;
    }

    .work_stages {
        padding: 50px 16px 100px;
    }

    .work_stages__items {
        flex-direction: column;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .work_stages__item {
        padding-top: 60px;
        align-items: center;
    }

    .item_number {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        height: 152px;
    }

    .work_stages__item p {
        padding-top: 26px;
        width: 100%;
    }

    .tariff_basic {
        width: 100%;
        overflow-y: hidden;
    }

    .tariff_basic,
    .tariff_basic__items,
    .tariff_basic__item {
        height: auto;
    }

    .tariff_basic__item {
        position: relative;
        height: 270px;
        width: 270px;
    }

    .tariff_basic__description,
    .section__heading {
        width: 100%;
        padding: 0 16px;
    }

    .tariff_basic__items {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
        overflow: hidden;
    }

    .tariff_basic__item_1 {
        top: 48px;
        left: -20%;
        transform: translate(0%, 0%);
    }

    .tariff_basic__item_2 {
        top: -50px;
        right: -20%;
    }

    .tariff_basic__item_3 {
        bottom: auto;
        top: -150px;
        left: -20%;
    }

    .tariff_basic__item_4 {
        bottom: auto;
        top: -250px;
        left: auto;
        right: -20%;
    }

    .tariff_basic__item_5 {
        top: -350px;
        left: -20%;
    }

    .tariff_basic__items .button {
        margin-top: -300px;
    }

    .vacancy_description .vacancy__decor_circle_purple_1 {
        bottom: 2%;
        left: -12%;
        height: 100px;
        width: 100px;
        background-image: url(./assets/icons/circle-purple.svg);
    }

    .marketing__items {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        width: 100%;
    }

    .marketing__item.circle {
        position: relative;
        right: auto;
        left: auto;
        height: 270px;
        width: 270px;
        margin-bottom: 176px;
    }

    .marketing__items_description {
        flex-direction: column;
        position: absolute;
        left: 16px;
        top: 0;
    }

    .marketing__item_description ul li {
        padding-bottom: 16px;
    }

    .marketing__item_description {
        margin-top: 25%;
        top: 140px;
        font-size: 14px;
        text-align: start;
    }

    .marketing .button {
        margin-top: 30px;
    }

    .marketing__item_description {
        left: 0;
    }

    .vacancy_description .vacancy__decor_elipse_1 {
        bottom: 0%;
        right: -10%;
        height: 100px;
        width: 100px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .vacancy.circle_heading__container .vacancy__decor_circle_purple_blurred_1 {
        bottom: 3%;
        right: -5%;
        height: 200px;
        width: 200px;
        background-image: url(./assets/icons/circle-purple-blurred.svg);
    }

    .vacancy.circle_heading__container .vacancy__decor_elipse_2 {
        bottom: 9%;
        left: 0%;
        height: 150px;
        width: 150px;
    }

    .vacancy.circle_heading__container .vacancy__decor_circle {
        top: 0%;
        left: auto;
        right: 85%;
        height: 80px;
        width: 80px;
    }

    .vacancy.circle_heading__container .vacancy__decor_elipse_1 {
        top: 0%;
        left: 79%;
        height: 82px;
        width: 82px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .vacancy.circle_heading__container .vacancy__decor_elipse_2 {
        bottom: 21%;
        left: -9%;
        height: 120px;
        width: 120px;
    }

    .blogpost .blogpost__decor_circle_purple_blurred_1 {
        top: 1%;
        left: -25%;
        height: 200px;
        width: 200px;
        background-image: url(./assets/icons/circle-purple-blurred.svg);
    }

    .blogpost .blogpost__decor_circle_1 {
        bottom: 0%;
        left: auto;
        right: -20%;
        height: 180px;
        width: 180px;
        background-image: url(./assets/icons/circle-purple.svg);
    }

    .blogpost .blogpost__decor_elipse_1 {
        bottom: 9%;
        left: 1%;
        height: 100px;
        width: 100px;
        background-image: url(./assets/icons/ellipse-purple.svg);

    }

    .blogpost .blogpost__decor_elipse_2 {
        top: 0%;
        right: -5%;
        height: 80px;
        width: 80px;
        background-image: url(./assets/icons/ellipse-purple.svg);
    }

    .circle_heading__container.blogpost__cover {
        position: absolute;
        height: 395.14px;
        width: 395.14px;
    }

    .circle_heading__container {
        overflow: hidden;
        position: relative;
        height: 136vw;
        /* min-height: 510px; */
    }

    .project__preview_img {
        height: 30.738vw;
        min-height: 177px;
    }

    .circle_heading__circle {
        position: absolute;
        width: 75vw;
        height: 75vw;
        min-width: 408px;
        min-height: 408px;
    }

    .circle_heading__circle .section_title {
        font-size: 36px;
        font-weight: 700;
    }

    .career .section_title {
        max-width: 200px;
    }

    .circle_heading__description {
        font-size: 14px;
        margin-top: 20px;
    }

    .about_project .circle,
    .about_project_half .circle {
        width: 60.101vw;
        height: 60.101vw;
        min-width: 343px;
        min-height: 343px;
    }

    .about_project,
    .about_project_half {
        padding: 64px 26px;
    }

    .career .button {
        margin-top: 36px;
    }

    .subscribe .subscribe_circle__title {
        font-size: 24px;
    }

    .circle_heading__description {
        max-width: 343px;
    }

    .elipse_in_the_corner {
        font-size: 14px;
        width: 100%;
        padding-top: 7px;
        padding-left: 10px;
    }
    .blog_posts__item.elipse_in_the_corner {
        padding: 0;
    }

    .vacancy_description__item .elipse_in_the_corner__title {
        margin-top: 0;
    }

    .vacancy_item.elipse_in_the_corner {
        width: 100%;
    }

    .vacancies {
        padding: 0 16px 100px;
        gap: 48px;
    }

    .vacancy_item .elipse_in_the_corner__title {
        margin-top: 22px;
        margin-bottom: 24px;
        max-width: 234px;
    }

    .vacancy_item .button {
        margin-top: 24px;
    }

    .elipse_in_the_corner ul {
        padding-left: 20px;
    }

    .about_service li {
        font-size: 14px;
    }

    .elipse_in_the_corner__decoration {
        height: 118px;
        width: 118px;
    }

    .subscribe .subscribe_circle__description {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .subscribe__privacy_policy {
        font-size: 14px;
        font-weight: 500;
        max-width: 308.92px;
    }

    .blogpost_heading {
        height: 510px;
    }

    .project__text {
        font-size: 14px;
    }

    .last_in_the_list {
        margin-bottom: 100px;
    }

    .tablet {
        display: none;
    }

    .mobile {
        display: flex;
    }
}